body {
    font-family: "Open Sans";
    color: #FFFFFF;
    background-color: #363249;
    font-size: 18px;
}

h1 {
    font-weight: bold;
    text-align: center;
}

a {
    color: #FFFFFF;
}

a:hover {
    background-color: rgba(255, 255, 255, .5)
}

button {
    font-family: "Open Sans", sans-serif;
    width: 10%;
    height: 150%;
    border: 0;
    font-size: 30px;
    border-radius: 15px;
    color: #FFFFFF;
    background-color: #595379;
    filter: drop-shadow(2px 2px 0 #F8729A);
    box-shadow: none;
}

button:hover {
    filter: none;
    position: relative;
    left: 2px;
    top: 2px;
}

.center {
    position: relative;
    display: flex;
    margin: auto;
}

.bg {
    background-color: #595379;
    filter: drop-shadow(2px 2px 0 #F8729A);
    border-radius: 15px;
}

#header {
    display: flex;
    background-color: #595379;
    filter: drop-shadow(0px 2px 0 #F8729A);
    margin: 0;
    font-size:15px;
}

#intro {
    flex-direction: column;
    position: relative;
    margin-top: 2%;
    padding: 1%;
    text-align: center;
    width: 65%;
    background-color: #595379;
}

#info {
    flex-direction: column;
    text-align: center;
    width: 65%;
    margin-top: 2%;
    padding: 1%;
}

#home, #register-link, #login-link, #faq-link {
    margin: 1%;
}

#tutor {
    padding-top: 1%;
    display: flex;
    justify-content: center;
}

#tutors {
    margin: 1%;
}

#portal {
    margin: 1%;
}

.entry {
    display: flex;
    flex-direction: column;
    padding: 1%;
    background-color: #595379;
    filter: drop-shadow(2px 2px 0 #F8729A);
    width: 45%;
    position: relative;
    margin: auto;
}

#username, #password, #email {
    width: 50%;
    margin: 1%;
}

#nav {
    width: 30%;
    padding: .5%;
    margin-bottom: 1%;
}

#faq {
    width: 95%;
    padding-right: 2%;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
}

.q {
    font-weight: bold;
}

.tab {
    margin-left: 1%;
}