body {
    font-family: "Open Sans", sans-serif;
    color: #FFFFFF;
    background-color: #363249;
    font-size: 15px;
}

h1 {
    font-weight: bold;
}

a {
    color: #FFFFFF;
}

button {
    font-family: "Open Sans", sans-serif;
    width: 40%;
    height: 150%;
    border: 0;
    padding: 1%;
    font-size: 20px;
    border-radius: 15px;
    color: #FFFFFF;
    background-color: #595379;
    filter: drop-shadow(2px 2px 0 #F8729A);
    box-shadow: none;
}

.bg {
    background-color: #595379;
    filter: drop-shadow(2px 2px 0 #F8729A);
}

#header {
    display: flex;
    justify-content: space-evenly;
    background-color: #595379;
    filter: drop-shadow(0px 2px 0 #F8729A);
    height: 120%;
    margin: 0;
    padding: 1%;
    font-size:12px;
}

#intro {
    margin: 3%;
    padding: 3%;
}

#info {
    margin: 3%;
    padding: 3%;
}

#tutor {
    padding-top: 3%;
    display: flex;
    justify-content: center;
}

#tutors {
    margin: 1%;
}

#portal {
    margin: 1%;
}

.entry {
    display: flex;
    flex-direction: column;
    padding: 1%;
    background-color: #595379;
    filter: drop-shadow(2px 2px 0 #F8729A);
    border-radius: 2px;
}

#username {
    width: 50%;
    margin: 1%;
}

#password {
    width: 50%;
    margin: 1%;
}

#nav {
    width: 50%;
    margin: 1%;
    padding: 1%;
}

#faq {
    margin-top: 5%;
    margin-left: 1%;
    width: 95%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
}

.q {
    font-weight: bold;
}

#lmk {
    margin-left: 2%;
}