@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=PT+Serif:wght@400;700&family=Work+Sans:wght@400;700&display=swap');

/* Global styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', arial;
}
#header {
    background: #366E8D;
    width: 100%;
    height: 5em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-family: "Work Sans", arial;
}

#header a {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-left: 2em;

}

#header #logo   { 
    width: 45%;
    margin-left: 1em;
}

#header input {
    border-radius: 500px;
    border: none;
    padding: 1em;
}

nav {
    padding-right: 1em;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    font-family: "Work Sans", arial;
}

h1 {
    font-size: 3rem;

}

h2 {
    font-size: 2.3rem;
}

h3 {
    font-size: 1.43rem;
}

p {
    font-size: 1.5rem;
    font-family: "Work Sans", arial;
}

a {
  color: black;
}

/* Everything is just going into this one stylesheet for time constraints and simplicity. */

/* Home styles */
#intro {
    width: 70%;
}

#menu {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 1%;
}

#menu a {
    min-width:19vw;
    min-height:19vw;

    display: inline-flex;
    text-decoration: none;
    background: grey;
    margin-right: 2em;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Work Sans", arial;
    font-size: 1.9rem;
    text-shadow: 2px 2px 10px #363636;
    border-radius: 5px;
    padding: 1em;
}

main {
    margin-left: 2em;
    margin-right: 2em;
}

#cities-page {
    background-image: url('../media/city.png') !important;
    background-size: cover !important;
    background-position: center !important;
}   

#activities-page {
    background-image: url('../media/act.png') !important;
    background-size: cover !important;
    background-position: center !important;
}

#reviews-page {
    text-align: center;
    background-image: url('../media/pop.png') !important;
    background-size: cover !important;
    background-position: center !important;
}

#login-con input {
    background: white;
    border-radius: 400px;
    border: 3px solid grey;
    padding: 1em;
    width: 20em;
}

#login-con .submit {
    background: #366E8D !important;
    border: none !important;
    color: white;
    font-weight: 700;
    margin-bottom: 2em;
    width: 25%;
    font-size: 1rem;
}

#registration   {
    font-weight: 600;
}

/* Schedule */
.sch-outer-box {
    text-align: center;
    margin-right: 1%;
    max-width: 13.28%;
    min-width: 13.28%;
}
.sch-head {
    font-weight: 700;
    font-size: 1.4rem;
    font-family: "Work Sans", arial;
}
.sch-inner-box {
    border: 3px solid #A1A1A1;
    border-radius: 6px;
    padding: 1em;
    text-align: left;
}
.sch-date {
    font-weight: 700;
    font-size: 1.8rem;
    font-family: "Work Sans", arial;
}

.reviews-images {
    /*background-color: blue;*/
    margin-left: 2em;
    float: right;
    width: 70%;
}

.review-heading {
  display: flex;
  align-items:center;
  font-family: "Work Sans", arial;
  font-size: 1.4rem;
}

.review-heading a {
  text-decoration: none;
  color: black;
}

.review-body {
  display: flex;
  font-family: "Work Sans", arial;
  margin-top: -2em;
  font-size: 1.25rem;
}

.review-body p {
  text-decoration: none;
  font-size: 1.25rem;
}

.spacer {
  border-left: 2px solid gray;
  margin-top: 5em;
  margin-left: 3.5em;
  height: 55em;
}

.spacer2 {
  border-top: 2px solid gray;
  width: 30em;
}
